:root {
  --smoky-black: #141204;
  --Celestial-Blue: #15A3EF;
  --White: #FFFFFF;
  --Auburn: #902C2F; 
  --primary-color: var(--smoky-black);
  --secondary-color: var(--White);
  --accent1-color: var(--Celestial-Blue);
  --accent2-color: var(--Auburn);
  --heading-font: "Rubik", serif;
  --font: "ParaType", serif;
}

h1, h2 {
  margin: 10px;
  padding: 10px;
  font-family: var(--heading-font);
  color: var(--accent2-color);
}

body, p {
  margin: 20px;
  padding: 20px;
  font-family: var(--font);
  font-size: 20px;
  color: var(--primary-color);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--secondary-color);
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
}

header img {
  max-width: 150px;
  border: 1px solid var(--secondary-color);
  padding: 5px;
  margin-left: 50%;

}

header nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

header nav a {
  margin: 0 1rem;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border: 1px solid white; 
  padding: 5px 10px; 
  border-radius: 3px;

}

.companyinf {
  position: relative;
  text-align: left;
  
}

.companyinf .map{
  margin: 10px;
 
}

.employees{
  display: flex;
  flex-wrap: wrap;        
  justify-content: center; 
  gap: 20px;              
  margin: 10px;    
  background-color: var(--accent2-color); 
  margin-top: 20px;
}

.employees h1{
  color: var(--secondary-color);
  position: absolute;
}

.employees img {
  float: center;
  width: 300px;
  margin: 0 2rem;
  box-shadow: 2px 2px 6px var(--primary-color);
  background-color: var(--secondary-color);
  margin-top: 100px;
}

.employees figcaption{
  color: var(--secondary-color);
  margin-bottom: 20px;
}

figure {
  margin: 0;
  text-align: center; 
}

figure img {
  width: 200px;
  height: auto;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); 
  margin-right: 30px;
  
}

figcaption {
  font-size: 16px;
  color: var(--primary-color);
  margin-top: 5px;
  font-weight: bold;
  margin-left: -30px;
}

.forms {
  position: relative;
  text-align: left;
  margin-top: 70px;
}

.forms h1{
  margin-left: -15px;
}
.forms button{
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
}
footer {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: center;
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem;
}

footer p {
  color: var(--secondary-color);
}

footer nav img {
  width: 90px;
  height: 60px;
  margin: -30px;
  padding: 40px;
  

}

footer a {
  text-decoration: none;

}

footer div {
display: flex;
color: white;
}

