:root{
  --smoky-black: #141204;
  --Celestial-Blue: #15A3EF;
  --White: #FFFFFF;
  --Auburn: #902C2F; 
  --primary-color: var(--smoky-black);
  --secondary-color: var(--White);
  --accent1-color: var(--Celestial-Blue);
  --accent2-color: var(--Auburn);
  --heading-font: "Rubik", serif;
  --font: "ParaType", serif;
}

 h1, h2{
  margin: 10;
  padding: 10;
  font-family: var(--heading-font);
  color: var(--accent2-color);
}

body, p{
  margin: 20;
  padding: 20;
  font-family: var(--font);
  font-size: 20px;
  color: var(--primary-color);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
}

header .logo {
  max-width: 150px;
}

header nav a {
  margin: 0 0.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}

.hero {
  position: relative;
  text-align: center;
  
}

.hero img {
  width: 100%;
  display: block;
  opacity: 0.5;
}
  
.hero h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-family: var(--heading-font), sans-serif;
  color: var(--primary-color);
}

.hero article {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accent1-color);
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  text-align: justify;
 
}

.hero article img {
  float: right;
  max-width: 300px;
  margin: 0 1rem;
  opacity: 1;
  box-shadow: 3px 3px 3px 3px var(--smoky-black);
}

.photographs figure img {
  padding: 5px;
  box-shadow: 5px 5px 5px 5px var(--smoky-black);

}
.photographs figure {
  text-decoration: underline;
  line-height: 40px;
  
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem;
}

footer p{
  color: var(--secondary-color);
}

footer .social img {
  width: 30px;
  margin: 0 0.5rem;
}

footer a {
  text-decoration: none;
}
